# Copiar a .env y cambiar los valores change-me.

MQTT_PORT=1883
MQTT_USERNAME=esp32
MQTT_PASSWORD=change-me-mqtt
MQTT_PASSWORD_FILE=/opt/stacks/mqtt/config/passwd
MQTT_ENV_TOPIC=smart-environment-sensor/#
MQTT_ENERGY_TOPIC=smart-energy/tuya/energia

INFLUXDB_PORT=8086
INFLUXDB_ENERGY_DB=tuya
INFLUXDB_ENV_DB=smart_environment

GRAFANA_PORT=3001
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=change-me-grafana
